.header {
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 35px;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main {
    justify-content: center; 
    padding: 20px;
    margin: 0 auto; 
    width: 80%; 
    margin: 0 auto; 
    margin-bottom: 30px; 
}